<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-5">
      <p-panel class="d-flex myshadow mt-3">
        <div class="mt-4">

          <app-logo-app class="d-flex justify-content-center mb-3"></app-logo-app>
          <h5 class="text-center">Ops, si è verificato un errore:</h5>
          <div class="d-flex text-danger p-2">
            <h3 class="my-4">{{ this.errMsg?.toString() }}</h3>
          </div>

          <p class="mt-4">Torna alla pagina di registrazione <a routerLink="/register">qui</a></p>
          <p class="mt-4">Torna alla pagina di login <a routerLink="/login">qui</a></p>

        </div>
      </p-panel>
    </div>
  </div>
</div>






