<div class="d-flex flex-column align-items-center
 black mt-3 rounded-5 vh-95 background
  basic-text position-relative"
>
  <ng-container *ngIf="this.populated"> <!--window chat-->

    <div class="w-100">
      <div class="row">
        <div class="col-md-9">
          <p-panel [style]="{'border-radius': '30px'}" class="w-100" collapsed="true" [toggleable]="true">

            <ng-template #header>
              <div class="d-flex align-items-center gap-2">
                <app-image-component classes="rounded rounded-5" width="60" height="60"
                                     [src]="this.takePartecipante().profileImage"/>
                <span class="font-bold fs-3 ms-2">
            {{
                    this.utilityMethod
                      .firstLetterUpperCase(this.takePartecipante().nome) + " " + this.utilityMethod
                      .firstLetterUpperCase(this.takePartecipante().cognome)
                  }}
          </span>
              </div>
            </ng-template>
            <ng-template #footer>
              <div class="flex flex-wrap items-center justify-between gap-4">
                <div class="flex items-center gap-2">
                  <p-button icon="pi pi-user" rounded text></p-button>
                  <p-button icon="pi pi-bookmark" severity="secondary" rounded text></p-button>
                </div>
                <span class="text-surface-500 dark:text-surface-400">Updated 2 hours ago</span>
              </div>
            </ng-template>
            <ng-template #icons>
            </ng-template>
            <ul>
              <li>{{ this.takePartecipante().email }}</li>
              <li>{{ this.takePartecipante().username }}</li>
              <li>{{
                  this.takePartecipante().telefono ?
                    this.takePartecipante().telefono :
                    "NON DISPONIBILE"
                }}
              </li>
            </ul>

          </p-panel>
        </div>
        <div class="col-md-2">
          <div class="d-flex justify-content-center align-items-center w-100 h-100">
            <p-button (click)="this.sendMessage()" label="Invia Messaggio"/>
          </div>
        </div>
      </div>
    </div>
    <!--    contenitore messaggi-->
    <div id="scrollableDiv" (scroll)="this.checkIfAlreadyScrolledToBottom($event)"
         class="w-100 h-mycustom overflow-y-scroll position-relative">
      <div class="d-flex flex-column w-100 " *ngFor="let messObj of this.selectedchat?.messaggi">
        <app-comic [messaggio]="messObj"/>
      </div>

    </div>
    <ng-container *ngIf="this.isNewMessagesArrived">
      <div (click)="this.scrollToBottom()"
           class="custom-position">
        <app-comp-scroll-down/>
      </div>
    </ng-container>


  </ng-container>
  <!--  editor-->
  <div class="position-absolute bottom-0 end-0 start-0 ">
    <app-chat-editor [cleanMarkDown]="this.cleanMarkdown" (emitMarkDown)="this.getMarkDown($event)"/>
  </div>

</div>
