@import "../../../color";

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

th, td {
  background-color: darkgrey;
}

th {
  padding: 5px;
}

.highLight {
  font-size: 1.5em;
}

span {
  padding: 5px;
}

.point{
  cursor: pointer;
}

.point:hover{
  color: red;
}
