<div class="mt-3">


  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-12">
        <ng-container *ngIf="this.allMEssagesSent.length > 0">
          <p-panel header="messaggi">
            <table class="w-100">
              <thead>
              <tr>
                <th>Email</th>
                <th>Messaggio</th>
                <th>Risposto</th>
                <th>Ricevuto il</th>
                <th></th>
              </tr>
              </thead>

              <tbody>

              <ng-container *ngFor="let obj of this.allMEssagesSent">
                <tr>

                  <td><span class="highLight fw-bold">{{ obj.emailSender }}</span></td>
                  <td><span class="highLight fw-bold">{{ obj.contentMsg }}</span></td>
                  <td><span class="highLight fw-bold">{{ this.handleBoolean(obj.haveReplied) }}</span></td>
                  <td><span class="highLight fw-bold">{{ obj.receivedAt | date:'short' }}</span></td>
                  <td (click)="this.setSelected(obj)" class="point">Rispondi</td>

                </tr>

              </ng-container>

              </tbody>
            </table>
          </p-panel>


        </ng-container>

      </div>
    </div>

    <!--    div contenente un recap del messaggio a cui si sta risposndendo-->
    <div class="mt-4">
      <div class="row justify-content-center">

        <div class="col-12">

          <!--          <ng-container *ngIf="this.selected">-->
          <div class="d-flex justify-content-center">
            <p-floatlabel class="my-1">
              <input readonly pInputText id="on_label" autocomplete="off" [(ngModel)]="this.emailSelected"/>
              <label for="over_label">Email</label>
            </p-floatlabel>

            <p-floatlabel>
              <textarea readonly rows="5" cols="30" pTextarea [(ngModel)]="this.contentSelected"></textarea>
              <label for="on_label">Message</label>
            </p-floatlabel>

          </div>

        </div>
      </div>
    </div>

    <!--    div contenente l area in cui admin risponde -->
    <div class="mt-2">
      <div class="row justify-content-center">

        <div class="col-12">

          <ng-container *ngIf="this.allMEssagesSent.length > 0">
            <form class="d-flex flex-column justify-content-center" [formGroup]="sendRespEmail"
                  (ngSubmit)="this.onSubmitResp()">

              <p-floatlabel class="my-1">
                <input pInputText id="on_label" autocomplete="off" formControlName="object"/>
                <label for="over_label">Oggetto</label>
              </p-floatlabel>


              <textarea rows="5" cols="30" pTextarea formControlName="textArea"></textarea>
              <p-button [disabled]="!this.sendRespEmail.valid" type="submit" label="Invia Risposta"></p-button>
            </form>
          </ng-container>

        </div>
      </div>
    </div>


  </div>

</div>
