<div class="card">
  <p-carousel [value]="this.peoples" [numVisible]="1" [numScroll]="1" orientation="vertical"
              verticalViewPortHeight="330px"
              contentClass="flex items-center">
    <ng-template let-person #item>
      <div class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4">
        <div class="mb-4">
          <app-image-component width="70" height="70" classes="rounded rounded-5" [src]="person.profilePhoto"/>
        </div>
        <div class="mb-4 font-medium">{{ person.name }}</div>
        <div class="mb-4 font-medium">{{ person.username }}</div>
        <div class="flex justify-between items-center">
          <div class="mt-0 font-semibold text-xl">{{ person.surname }}</div>
          <span>
                        <p-button icon="pi pi-user-plus" severity="secondary" label="start new chat" [outlined]="true"/>
            <!--                        <p-button icon="pi pi-shopping-cart" styleClass="ml-2"/>-->
                    </span>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
