<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-5">
      <div class="mt-4 myshadow">
        <p-panel>
          <app-logo-app classes="d-flex justify-content-center mb-3"></app-logo-app>
          <h5 class="text-center">Login effettuato con successo! <br> stai per essere reindirizzato alla home:</h5>
          <div class="d-flex justify-content-center">
            <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s"
                                [style]="{ width: '100px', height: '100px' }"/>
          </div>

        </p-panel>
      </div>
    </div>
  </div>
</div>
