
.pulsate-fwd {
  animation: pulsate 0.5s ease-in-out infinite both !important;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
