@import "color";
@import "primeicons/primeicons.css";
@import '@toast-ui/editor/dist/toastui-editor.css'; // Editor's Style


pointer {
  cursor: pointer;
}

.primary_color {
  color: $color-primary !important;
}

body {
  background-color: $color-background !important;
  font-family: "Roboto", sans-serif !important;
}

.border-primary_custom {
  border-color: $color-primary !important;
}

.custom_border_primary {
  border: 3px solid $color-primary;
}

button {
  background-color: $color-primary !important;
  color: $color-secondary !important;
  border: #CD9552 1px solid !important;
}

.myshadow {
  box-shadow: #2c2b2b 3px 6px 8px !important;
}

.transparent {
  background-color: transparent !important;
}

