<div class="mt-3">
  <ng-container *ngFor="let obj of this.chatList">
    <button pButton class="d-flex justify-content-start my-1 align-items-center gap-1 w-100 position-relative move-it">
      <app-image-component classes="rounded rounded-5" height="50" width="50"
                           [src]="obj.listaPartecipanti[0].profileImage"/>
      <div>
        <p
          class="mx-1">{{ obj.listaPartecipanti[0].nome.toUpperCase() + " " + obj.listaPartecipanti[0].cognome.toUpperCase() }}</p>
      </div>
      <div class="position-absolute bottom-0 end-0">
        <p class="m-0 ms-auto me-2">created at: {{ obj.createdAt | date :'shortDate' }}</p>
      </div>
    </button>
  </ng-container>
</div>
<div>
  <app-add-new-chat-carousel/>
</div>
